.first-Jumbotron{
    background: url("../img/first-bg.jpg") no-repeat center;
    height: 500px;
    font-family: 'Abril Fatface', cursive;
    font-size: larger;
    background-size: 1950px 500px;
   
}
.second-Jumbotron{
    background: url("../img/bg_2.jpg") no-repeat center ;
    height: 800px;
    font-family: 'Abril Fatface', cursive;
    font-size: larger;
    background-size: 1950px 800px;
    color: #fff;
}

.jaf{
    text-decoration:none ;
    color:white;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: -18rem;
}
.title{
    font-size: 500px;

}
.navbar{
    margin:5px
}
.solution{
    height: 200px;
    width: 1900px;
    border: red dashed 1px;
}
.solution_item{
    border: blue dashed 1px;
}

//TABLE 
.table-fill {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    margin: auto;
    padding:5px;
    box-shadow: 0 1px 50px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
    color: black;
  }
  th {
    color:#2c70b8;;
    background:black;
    padding:24px;
    text-align:center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
  }

th:first-child {
    border-top-left-radius:3px;
  }
   
th:last-child {
    border-top-right-radius:3px;
    
  }

  tr {
    font-size:22px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  }
   
  tr:hover td {
    background:#4E5066;
    color:#FFFFFF;
    border-top: 1px solid #22262e;
  }
   
  tr:first-child {
    border-top:5px;
  }
  
  tr:last-child {
    border-bottom:5px;
  }
   
  tr:nth-child(odd) td {
    background:#EBEBEB;
  }
   
  tr:nth-child(odd):hover td {
    background:#4E5066;
  }
  
  tr:last-child td:first-child {
    border-bottom-left-radius:3px;
  }
   
  tr:last-child td:last-child {
    border-bottom-right-radius:3px;
  }
   
  td {
    background:#FFFFFF;
    padding:20px;
    text-align:center;
    vertical-align:middle;
    font-weight:300;
    font-size:18px;
    border-right: 1px solid #C1C3D1;
    font-weight: 600;
  }
  
  td:last-child {
    border-right: 5px;
  }
  
  th.text-center {
    text-align: center;
  }

  td.text-center {
    text-align: center;
  }
  
.link-pen{
    color:rgb(1, 153, 199);
}
.link-trash{
    color: rgb(202, 95, 95);
}

//NOSOTROS-SERVICIOS-INFORMACION
.buttom-nsi {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: black;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  &:hover {
    border: 1px solid transparent;
    span {
      position: absolute;
      display: block;

      &:nth-child(1) {
        filter: hue-rotate(0deg);
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, #1267dd);
        animation: animate1 1s linear infinite;
      }
      @keyframes animate1 {
        0% {
          left: -100%;
        }
        50%,
        100% {
          left: 100%;
        }
      }

      &:nth-child(2) {
        filter: hue-rotate(60deg);
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #1267dd);
        animation: animate2 1s linear infinite;
        animation-delay: 0.25s;
      }

      @keyframes animate2 {
        0% {
          top: -100%;
        }
        50%,
        100% {
          top: 100%;
        }
      }
      &:nth-child(3) {
        filter: hue-rotate(120deg);
        bottom: 0;
        right: 0;
        width: 100%;

        background: linear-gradient(270deg, transparent, #1267dd);
        animation: animate3 1s linear infinite;
        animation-delay: 0.5s;
      }
      @keyframes animate3 {
        0% {
          right: -100%;
          height: 2px;
        }
        50%,
        100% {
          height: 2px;
          right: 100%;
        }
      }

      &:nth-child(4) {
        filter: hue-rotate(300deg);
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg, transparent, #1267dd);
        animation: animate4 1s linear infinite;
        animation-delay: 0.75s;
      }
      @keyframes animate4 {
        0% {
          bottom: -100%;
        }
        50%,
        100% {
          bottom: 100%;
        }
      }
    }
  }
}

//END-NOSOTROS-SERVICIOS-INFORMACION

.encuentranos{
    position: relative;
    display: inline-block;
    padding: 26px;
    margin-left:auto;
    color: black;
    letter-spacing: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


// LOGIN
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	background:url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40,57,101,.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}

.suppliers{
    text-align: inherit;
}
//Products

.card-img-topone{
    background: url("../img/bg_2.jpg") no-repeat center;
    height: 300px;
    font-family: 'Abril Fatface', cursive;
    font-size: larger;
    background-size: 800px 550px;
}

.card-img-toptwo{
    background: url("../img/bg_2.jpg") no-repeat center;
    height: 300px;
    font-family: 'Abril Fatface', cursive;
    font-size: larger;
    background-size: 800px 550px;
}

.card-img-topthree{
    background: url("../img/bg_2.jpg") no-repeat center;
    height: 300px;
    font-family: 'Abril Fatface', cursive;
    font-size: larger;
    background-size: 800px 500px;
}

.card-img-topfour{
    background: url("../img/bg_2.jpg") no-repeat center;
    height: 300px;
    font-family: 'Abril Fatface', cursive;
    font-size: larger;
    background-size: 800px 500px;
}

.card-img-topfive{
    background: url("../img/bg_2.jpg") no-repeat center;
    height: 300px;
    font-family: 'Abril Fatface', cursive;
    font-size: larger;
    background-size: 800px 500px;
}
.card-img-topsix{
    background: url("../img/bg_2.jpg") no-repeat center;
    height: 300px;
    font-family: 'Abril Fatface', cursive;
    font-size: larger;
    background-size: 800px 500px;
}

//SOCIAL BUTTONS

.social-buttons {
    &__button {
      margin: 10px 5px 0;
    }
  }
  
  $social-button-size: 50px;
  $social-button-icon-size: 0.8;
  $social-button-background: rgb(14, 1, 1);
  $social-button-active-color: #fff;
  $social-button-transition-time: 0.3s;
  
  $social-button-colors: (
    'mail': #0072c6,
    'facebook': #3b5999,
    'linkedin': #0077b5,
    'snapchat': #eec900,
    'twitter': #55acee,
    'instagram': #e4405f,
    'youtube': #c12127,

  );
  
  .social-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: $social-button-size;
    height: $social-button-size;
    text-decoration: none;
    border-radius: 100%;
    background: $social-button-background;
    text-align: center;
  
    &::after {
      content: '';
      position: absolute;
      top: -1px;
      left: 50%;
      display: block;
      width: 0;
      height: 0;
      border-radius: 100%;
      transition: $social-button-transition-time;
    }
  
    &:focus,
    &:hover {
      color: $social-button-active-color;
  
      &::after {
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        margin-left: calc(-50% - 1px);
      }
    }
  
    i,
    svg {
      position: relative;
      z-index: 1;
      transition: $social-button-transition-time;
    }
  
    i {
      font-size: $social-button-size * $social-button-icon-size;
    }
  
    svg {
      height: percentage($social-button-icon-size);
      width: percentage($social-button-icon-size);
    }
  
    @each $name, $color in $social-button-colors {
      &--#{$name} {
        color: $color;
  
        &::after {
          background: $color;
        }
      }
    }
  }
  
  
  