.shadow-b{
  text-shadow: 1px 1px 20px #000;
}

.investy{
  width: 140px;
}

.Investy-navbar{
  width: 143px;
  margin-left: -69px;
  margin-bottom: -74px;
}
.title{
    font-size: 500px;
}

.cd-supplier{
  margin-top: -24px;
}

.table-front{
   background:white;
   border-radius:3px;
   border-collapse: collapse;
   margin: auto;
   padding:5px;
   box-shadow: 0 1px 50px rgba(0, 0, 0, 0.1);
   animation: float 5s infinite;
   color: black;
}

//TABLE 
.table-fill {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    margin: auto;
    padding:0.3rem;
    box-shadow: 0 1px 50px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
    color: black;
  }
  .th-CPP {
    background:black;
    padding:1.5rem;
    text-align:center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
  }

  .th-CPP:first-child {
    border-top-left-radius:3px;
  }
   
  .th-CPP:last-child {
    border-top-right-radius:3px;
  }

  .tr-CPP {
    font-size:1rem;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  }
   
  tr:hover td {
    background:#003444;
    color:#FFFFFF;
    border-top: 1px solid #003444;
  }
   
  .tr-CPP:first-child {
    border-top:5px;
  }
  
  .tr-CPP:last-child {
    border-bottom:5px;
  }
   
  tr:nth-child(odd) td {
    background:#EBEBEB;
  }
   
  tr:nth-child(odd):hover td {
    background:#003444;
  }
  
  .tr-CPP:last-child .td-CPP:first-child {
    border-bottom-left-radius:3px;
  }
   
  .tr-CPP:last-child .td-CPP:last-child {
    border-bottom-right-radius:3px;
  }
   
  .td-CPP {
    padding:1.2rem;
    text-align:center;
    vertical-align:middle;
    font-size: 1.2rem;
    border-right: 1px solid #C1C3D1;
    font-weight: 600;
  }
  
  .td-CPP:last-child {
    border-right: 5px;
  }

  td{
    vertical-align:middle;
  }
  
.link-pen{
    color: #00B4CD;
}

.link-pen:hover{
  color: white;
}
    
.link-trash{
    color: rgb(202, 95, 95);
}

.link-trash:hover{
  color: white;
}

.link-trash2{
  color: rgb(202, 95, 95);
}

.total-red{
  background-color: rgb(202, 95, 95);
  color: #fff;
}

.link-trash2:hover{
  color: #003444;
}

.th-icons{
  text-align: right;
}

//NOSOTROS-SERVICIOS-INFORMACION
.buttom-nsi {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  letter-spacing: 4px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;

  &:hover {
    border: 1px solid transparent;
    span {
      position: absolute;
      display: block;

      &:nth-child(1) {
        filter: hue-rotate(0deg);
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, #1267dd);
        animation: animate1 1s linear infinite;
      }
      @keyframes animate1 {
        0% {
          left: -100%;
        }
        50%,
        100% {
          left: 100%;
        }
      }

      &:nth-child(2) {
        filter: hue-rotate(60deg);
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #1267dd);
        animation: animate2 1s linear infinite;
        animation-delay: 0.25s;
      }

      @keyframes animate2 {
        0% {
          top: -100%;
        }
        50%,
        100% {
          top: 100%;
        }
      }
      &:nth-child(3) {
        filter: hue-rotate(120deg);
        bottom: 0;
        right: 0;
        width: 100%;

        background: linear-gradient(270deg, transparent, #1267dd);
        animation: animate3 1s linear infinite;
        animation-delay: 0.5s;
      }
      @keyframes animate3 {
        0% {
          right: -100%;
          height: 2px;
        }
        50%,
        100% {
          height: 2px;
          right: 100%;
        }
      }

      &:nth-child(4) {
        filter: hue-rotate(300deg);
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg, transparent, #1267dd);
        animation: animate4 1s linear infinite;
        animation-delay: 0.75s;
      }
      @keyframes animate4 {
        0% {
          bottom: -100%;
        }
        50%,
        100% {
          bottom: 100%;
        }
      }
    }
  }
}

.btn-login-contrast{
  background-color: #fff;
  color:#003444;
}

.btn-login-contrast:hover{
  background-color: #003444;
  color:#fff;
  text-shadow: 0px 0px 20px #fff;
}

.btn-navbar-custom{
  color: #fff;
  background-color: #003444;
}

.btn-navbar-custom:hover{
  color: #fff;
  text-shadow: 0px 0px 20px #fff;
}

.btn-create{
  background-color: #003444;
  color: #fff;
}

.btn-create:hover{
  background-color: #fff;
  color: #003444;
}

.aviso-legal{
  color: #fff;
}

.aviso-legal:hover{
  color: #00B4CD;
}

//END-NOSOTROS-SERVICIOS-INFORMACION

.encuentranos{
    position: relative;
    display: inline-block;
    padding: 26px;
    margin-left:auto;
    color: black;
    letter-spacing: 4px;
}


// LOGIN
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

//SOCIAL BUTTONS

.social-buttons {
    &__button {
      margin: 5px 5px;
    }
  }
  
  $social-button-size: 35px;
  $social-button-icon-size: 0.8;
  $social-button-background: #fff;
  $social-button-active-color: #fff;
  $social-button-transition-time: 0.3s;
  
  $social-button-colors: (
    'mail': #0072c6,
    'facebook': #3b5999,
    'linkedin': #0077b5,
    'twitter': #55acee,
    'instagram': #e4405f,
    'youtube': #c12127,

  );
  
  .social-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: $social-button-size;
    height: $social-button-size;
    text-decoration: none;
    border-radius: 100%;
    background: $social-button-background;
    text-align: center;
  
    &::after {
      content: '';
      position: absolute;
      top: -1px;
      left: 50%;
      display: block;
      width: 0;
      height: 0;
      border-radius: 100%;
      transition: $social-button-transition-time;
    }
  
    &:focus,
    &:hover {
      color: $social-button-active-color;
  
      &::after {
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        margin-left: calc(-50% - 1px);
      }
    }
  
    i,
    svg {
      position: relative;
      z-index: 1;
      transition: $social-button-transition-time;
    }
  
    i {
      font-size: $social-button-size * $social-button-icon-size;
    }
  
    svg {
      height: percentage($social-button-icon-size);
      width: percentage($social-button-icon-size);
    }
  
    @each $name, $color in $social-button-colors {
      &--#{$name} {
        color: $color;
  
        &::after {
          background: $color;
        }
      }
    }
  }
  //MODAL CLIENTES
  .modalCSP {
    background: linear-gradient(-45deg, #00B4CD, #8B8D8C, #003444, #0C121A);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.btn-formClose{
  color:white;
}

.btn-formClose:hover{
  color:#003444;
}

.btn-formCreate{
  background-color: white;
  color: #003444;
}

.btn-formCreate2{
  background-color: white;
  color: #003444;
}

.btn-formCreate2:hover{
  background-color: #00B4CD;
  color: white;
}

.btn-formCreate:hover{
    background-color: #003444;
    color: white;
}

.btn-valoration1{
    background-color: #fff;
    color: #003444;
    border: 1px solid #003444;
}

.btn-valoration1:hover{
  background-color: #003444;
  color: #fff;
  border: 1px solid #003444;
}

.btn-valoration2{
  background-color: #003444;
  color: #fff;
}

.btn-valoration2:hover{
  background-color: #fff;
  color: #003444;
  border: 1px solid #003444;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

///////// COLORES CORPORATIVOS ////////
.black-investy{
  color: #0C121A;
}

.bluedark-investy{
  color: #003444;
}

.border-bluedark{
  border: 1px solid #003444;
}

.border-left-bluedark{
  border-left: 1px solid #003444;
}

.bluelight-investy{
  color: #00B4CD;
}

.grey-investy{
  color: #8B8D8C;
}

.bg-bluelight-investy{
  background-color: #00B4CD;
}

.bg-bluedark-investy{
  background-color: #003444;
}

.bg-grey-investy{
  background-color: #8B8D8C;
}

.border-bluedark-investy{
  border-color: #003444;
}

.border-bluelight-investy{
  border-color: #00B4CD;
}

.border-black-investy{
  border-color: #0C121A;
}

.input-focus:focus{
  outline: none !important;
    border-color: #003444;
    box-shadow: 0 0 10px #003444;
}