.first-Jumbotron{
    background: url("../img/first-bg.jpg") no-repeat center;
    height: 500px;
    font-family: 'Abril Fatface', cursive;
    font-size: larger;
    background-size: 1950px 500px;
   
}
.second-Jumbotron{
    background: url("../img/bg_2.jpg") no-repeat center ;
    height: 800px;
    font-family: 'Abril Fatface', cursive;
    font-size: larger;
    background-size: 1950px 800px;
    color: #fff;
}

.jaf{
    text-decoration:none ;
    color:white;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: -18rem;
}
.title{
    font-size: 500px;

}
.navbar{
    margin:5px
}


//NOSOTROS
.Nosotros{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: black;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.Nosotros span{
    display: block;
    position: absolute;
}
#span9{
    top: 0;
    left:-100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,rgb(22, 10, 189));
}

.Nosotros:hover #span9{
    left:100%;
    transition:1s;
}

#span11{
    bottom: 0;
    right:-100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,rgb(22, 10, 189));
}


.Nosotros:hover #span11{
    right:100%;
    transition:1s;
    transition-delay: 0.5s;
}

#span10{
    top: -100%;
    right:0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent,rgb(22, 10, 189));
}

.Nosotros:hover #span10{
    top:100%;
    transition:1s;
    transition-delay: 0.25s;
}

#span12{
    bottom: -100%;
    left:0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent,rgb(22, 10, 189));
}

.Nosotros:hover #span12{
    bottom:100%;
    transition:1s;
    transition-delay: 0.75s;
}
//END-NOSOTROS


//SERVICIOS
.Servicios{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: black;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.Servicios span{
    display: block;
    position: absolute;
}
#span13{
    top: 0;
    left:-100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,rgb(22, 10, 189));
}

.Servicios:hover #span13{
    left:100%;
    transition:1s;
}

#span15{
    bottom: 0;
    right:-100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,rgb(22, 10, 189));
}


.Servicios:hover #span15{
    right:100%;
    transition:1s;
    transition-delay: 0.5s;
}

#span14{
    top: -100%;
    right:0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent,rgb(22, 10, 189));
}

.Servicios:hover #span14{
    top:100%;
    transition:1s;
    transition-delay: 0.25s;
}

#span16{
    bottom: -100%;
    left:0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent,rgb(22, 10, 189));
}

.Servicios:hover #span16{
    bottom:100%;
    transition:1s;
    transition-delay: 0.75s;
}
//END-SERVICIOS


//REGISTRESE
.Registrese{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: rgb(35, 23, 146);
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.Registrese span{
    display: block;
    position: absolute;
}

#span1{
    top: 0;
    left:-100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,rgb(22, 10, 189));
}

.Registrese:hover #span1{
    left:100%;
    transition:1s;
}

#span3{
    bottom: 0;
    right:-100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,rgb(22, 10, 189));
}

.Registrese:hover #span3{
    right:100%;
    transition:1s;
    transition-delay: 0.5s;
}

#span2{
    top: -100%;
    right:0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent,rgb(22, 10, 189));
}

.Registrese:hover #span2{
    top:100%;
    transition:1s;
    transition-delay: 0.25s;
}

#span4{
    bottom: -100%;
    left:0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent,rgb(22, 10, 189));
}

.Registrese:hover #span4{
    bottom:100%;
    transition:1s;
    transition-delay: 0.75s;
}
//END-REGISTRESE

//LOGIN

.Modal{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: rgb(23, 146, 23);
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.Modal span{
    display: block;
    position: absolute;
}

#span5{
    top: 0;
    left:-100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,rgb(57, 219, 43));
}

.Modal:hover #span5{
    left:100%;
    transition:1s;
}

#span7{
    bottom: 0;
    right:-100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,rgb(57, 219, 43));
}

.Modal:hover #span7{
    right:100%;
    transition:1s;
    transition-delay: 0.5s;
}

#span6{
    top: -100%;
    right:0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent,rgb(57, 219, 43));
}

.Modal:hover #span6{
    top:100%;
    transition:1s;
    transition-delay: 0.25s;
}

#span8{
    bottom: -100%;
    left:0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent,rgb(57, 219, 43));
}

.Modal:hover #span8{
    bottom:100%;
    transition:1s;
    transition-delay: 0.75s;
}

//END-LOGIN

//INFORMACION
.Informacion{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: black;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.Informacion span{
    display: block;
    position: absolute;
}

#span17{
    top: 0;
    left:-100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,rgb(22, 10, 189));
}

.Informacion:hover #span17{
    left:100%;
    transition:1s;
}

#span19{
    bottom: 0;
    right:-100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,rgb(22, 10, 189));
}

.Informacion:hover #span19{
    right:100%;
    transition:1s;
    transition-delay: 0.5s;
}

#span18{
    top: -100%;
    right:0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent,rgb(22, 10, 189));
}

.Informacion:hover #span18{
    top:100%;
    transition:1s;
    transition-delay: 0.25s;
}


.contacto{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: black;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.contacto span{
    display: block;
    position: absolute;
}
#span21{
    top: 0;
    left:-100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,rgb(22, 10, 189));
}

.contacto:hover #span21{
    left:100%;
    transition:1s;
}

#span23{
    bottom: 0;
    right:-100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,rgb(22, 10, 189));
}


.contacto:hover #span23{
    right:100%;
    transition:1s;
    transition-delay: 0.5s;
}

#span22{
    top: -100%;
    right:0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent,rgb(22, 10, 189));
}

.contacto:hover #span22{
    top:100%;
    transition:1s;
    transition-delay: 0.25s;
}

#span24{
    bottom: -100%;
    left:0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent,rgb(22, 10, 189));
}

.contacto:hover #span24{
    bottom:100%;
    transition:1s;
    transition-delay: 0.75s;
}

.encuentranos{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: black;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#span20{
    bottom: -100%;
    left:0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent,rgb(22, 10, 189));
}

.Informacion:hover #span20{
    bottom:100%;
    transition:1s;
    transition-delay: 0.75s;
}


// LOGIN



*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	background:url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40,57,101,.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}

.suppliers{
    text-align: inherit;
}
//Products

.card-img-topone{
    background: url("../img/bg_2.jpg") no-repeat center;
    height: 300px;
    font-family: 'Abril Fatface', cursive;
    font-size: larger;
    background-size: 800px 550px;
}

.card-img-toptwo{
    background: url("../img/bg_2.jpg") no-repeat center;
    height: 300px;
    font-family: 'Abril Fatface', cursive;
    font-size: larger;
    background-size: 800px 550px;
}

.card-img-topthree{
    background: url("../img/bg_2.jpg") no-repeat center;
    height: 300px;
    font-family: 'Abril Fatface', cursive;
    font-size: larger;
    background-size: 800px 500px;
}

.card-img-topfour{
    background: url("../img/bg_2.jpg") no-repeat center;
    height: 300px;
    font-family: 'Abril Fatface', cursive;
    font-size: larger;
    background-size: 800px 500px;
}

.card-img-topfive{
    background: url("../img/bg_2.jpg") no-repeat center;
    height: 300px;
    font-family: 'Abril Fatface', cursive;
    font-size: larger;
    background-size: 800px 500px;
}
.card-img-topsix{
    background: url("../img/bg_2.jpg") no-repeat center;
    height: 300px;
    font-family: 'Abril Fatface', cursive;
    font-size: larger;
    background-size: 800px 500px;
}
